html {
  font-family: Montserrat;
  background-color: rgba(0, 0, 0, 0.0001);
}

.page-container {
  width: 1280px;
}

nav {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  padding: 30px 0px;
}

a {
  text-decoration: none;
  color: currentColor;
}

.menu-header {
  display: inline;
  margin: 20px 40px;
  color: #f00;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

h2 {
  display: block;
  box-sizing: border-box;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  color: #000;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 3.3px;
  line-height: 27px;
  text-transform: uppercase;
  text-align: center;
}

.p-main {
  display: block;
  box-sizing: border-box;
  width: 1145px;
  margin-top: 28px;
  margin-left: auto;
  margin-right: auto;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2.4px;
  line-height: 26px;
  text-align: center;
}

.wrapper-button {
  display: block;
  box-sizing: border-box;
  margin: 100px 0px;
}

.get-button {
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 191px;
  height: 51px;
  border: none;
  border-radius: 4px;
  background-color: #f00;
  color: #fff;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 12px;
  padding: 22px 20px;
  font-weight: 700;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.p-copyright {
  display: block;
  padding-left: 713px;
  margin-bottom: 29px;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2.4px;
  text-align: left;
}
